.navbar1 {
  overflow: hidden;
  background-color: none;
  position: fixed;
  top: 0;
  width: 100%;
  right: 47%; 
  float:right;
  color: #D0D3D4;
    
}

/*
.navbar1 a {
    
  float: right;
  display: block;
  color: #D0D3D4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 10px;
}
*/
.navbar2 {
  overflow: hidden;
  background-color: none;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar2 a {
  float: right;
  display: block;
  color: #D0D3D4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/*Now the styles*/
* {
	margin: 0; 
	padding: 0;
}
body {
	background: #ffffff; 
	font-family: arial, verdana, tahoma;
}

/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
	width: 805px; height: 320px;
	overflow: hidden;
	
	/*Time for some styling*/
	margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
width: 640px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}


/*profile text */

div001 {
    margin-top: 300px;
    margin-bottom: 20%;
    margin-right: 20%;
    margin-left: 20%;
}
div {
    border: none;
    background-color: none;
}

div.ex1 {
    padding: 25px 50% 75px 10px;
    text-align: left;
}

div.ex2 {
    padding: 25px 50px 75px 50%;
    text-align: left;
}

div.ex3 {
   
   padding: 25px 50% 75px 10px;
    text-align: left;
}

div.ex4 {
    padding: 25px 50px 75px 50%;
    text-align: left;
}